@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: auto;
  padding-top: 60px;
}

#titulo-cart {
  text-align: right;
  padding-right: 40px;
  margin: 40px;
}

#productContainer {
  display: flex;
  height: auto;
  flex-direction: column;
  align-items: center;
  /* background-color: #f0ececd1 ; */
  background-color: #fafafad1;
  justify-items: center;
  justify-content: center;
  padding: 40px;
  border: solid 0px grey;
  gap: 4px;
}
.tarjeta-producto {
  display: flex;
  justify-content: space-between;
  background-color: #e8e2e2d1;
  align-items: left;
  width: 450px;
  gap: 40px;
  height: 150px;
  border: none;
  border-radius: 0px;
  padding: 15px;
  .div {
    width: 70px;
    min-height: 70px;
  }
}

#tit-sub-pr {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 150px;
}

#counters {
  display: flex;
  flex-direction: row;
  align-self: center;
  gap: 4px;
}

.tarjeta-producto img {
  height: 120px;
  width: 120px;
  border-radius: 4%;
}
.tarjeta-producto h3 {
  font-size: 16px;
}
.tarjeta-producto h4 {
  font-size: 14px;
}

#totales {
  height: 50vh;
  border-top: solid 1px rgb(169, 165, 165);
  text-align: center;
  padding: 40px;
  background-color: #fafafad1;
  a {
    text-decoration: none;
    color: rgb(233, 161, 6);
  }

  p {
    font-weight: 600;
  }
}

#cart-vacio {
  width: 100%;
  height: 100vh;
  text-align: center;
  padding-top: 60px;

  background-color: #fafafad1;
  a {
    text-decoration: none;
    color: rgb(233, 161, 6);
  }
}

.btn-add {
  width: 20px;
  height: 25px;
  text-align: center;
  font-weight: 500;
  font-size: medium;
  border-radius: 4px;
  border: none;
  color: white;
  background: rgba(48, 48, 48, 0.894);
}

.btn-buy {
  height: 40px;
  width: 220px;

  border: none;
  background-color: rgba(18, 18, 17, 0.894);
  color: rgb(247, 243, 243);
  cursor: pointer;
}

.escondido {
  display: none;
}

#footer {
  height: 200px;
  text-align: center;

  width: 100%;
  align-items: center;
  color: rgb(255, 255, 255);
  background-color: rgb(23, 23, 23);
}

@media (max-width: 458px) {
  #productContainer {
    .tarjeta-producto {
      display: flex;
      justify-content: space-between;
      background-color: #e8e2e2d1;
      align-items: left;
      width: 350px;
      gap: 20px;
      height: 150px;
      border: solid rgba(128, 128, 128, 0.164);
      border-radius: 0px;
      padding: 15px;
      .div {
        width: 70px;
        min-height: 70px;
      }
    }
  }
}

@media (max-width: 380px) {
  #productContainer {
    .tarjeta-producto {
      display: flex;
      justify-content: space-between;
      background-color: #ebe4e4d1;
      align-items: left;
      width: 300px;
      gap: 8px;
      height: 130px;
      border: solid rgba(128, 128, 128, 0.164) 1px;
      border-radius: 0px;
      padding: 15px;
      .div {
        width: 70px;
        min-height: 70px;
      }
      img {
        height: 100px;
        width: 100px;
        border-radius: 4%;
      }
    }
  }
}
